name: "Release Please"

on:
  push:
    branches: ["master"]

permissions:
  contents: write
  pull-requests: write
  actions: read

jobs:
  release-please:
    name: "Release-Please"
    runs-on: ["ubuntu-latest"]
    outputs:
      releases_created: ${{ steps.run-release-please.outputs.releases_created }}
      tag_name: ${{ steps.run-release-please.outputs.tag_name }}
      version: ${{ steps.run-release-please.outputs.version }}
    steps:
      - name: "Generate App Token"
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.DEV_APP_ID }}
          private-key: ${{ secrets.DEV_APP_PRIVATE_KEY }}
      
      - name: "Run release-please"
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: run-release-please
        with:
          token: ${{ steps.generate-token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
      
      - name: "Echo json"
        run: echo "$OUTPUTS"
        shell: bash
        env:
          OUTPUTS: ${{ toJSON(steps.run-release-please.outputs) }}

  release-dotnet-config:
    name: "Release: DotNet.Config"
    runs-on: ["ubuntu-latest"]
    needs: "release-please"
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    timeout-minutes: 20
    env:
      PackageName: "Kiruyuto.DotNet.Config.${{ needs.release-please.outputs.version }}.nupkg"
    permissions: write-all
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - name: "Setup .NET"
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: "global.json"
      
      - name: "Pack"
        run: dotnet pack Kiruyuto.DotNet.Config/Kiruyuto.DotNet.Config.csproj -c Release -o outputFiles -p:PackageVersion=${{ needs.release-please.outputs.version }}
      
      - name: "Push to NuGet"
        run: dotnet nuget push ./outputFiles/${{ env.PackageName }} --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{ secrets.NUGET_KEY }}
      
      - name: "Add GitHub Packages source and push"
        run: |
          dotnet nuget add source --username ${{ github.actor || github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name GitHub "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
          dotnet nuget push ./outputFiles/${{ env.PackageName }} --source 'GitHub' --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
